@font-face {
	font-family: "SF Bold";
	src: url("fonts/SFDisplay-Bold.otf") format("opentype");
}

@font-face {
	font-family: "SF Medium";
	src: url("fonts/SFDisplay-Medium.otf") format("opentype");
}

@font-face {
	font-family: "SF Thin";
	src: url("fonts/SFDisplay-Thin.otf") format("opentype");
}

*{
	margin: 0;
	padding: 0;
	font-family: 'SF Medium', sans-serif;
	color: #171D25;
	  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently */
}

*:focus {
    outline: none;
}

#header{
	background-color: #F6F7F9;
	height: 100vh;
}

#top-rectangles{
	position: absolute;
	right: 0;
	height: 210px;
}

#bottom-rectangle{
	position: absolute;
	bottom: 0px;
	height: 212px;
	left: 0px;
}

h1{
	position: absolute;
	font-weight: 300;
	font-family: 'SF Thin';
	top: 70px;
	left: 61px;
	text-transform: uppercase;
	letter-spacing: 6.67px;
	opacity: .6;
}

.bold{
	font-family: "SF Bold";
}

.button{
	position: absolute;
	top: 53px;
	right: 49px;
	text-transform: uppercase;
	color: white;
	height: 35px;
	width: 143px;
	border-radius: 8px;
	background-color: #78AEED;
	text-align: center;
	padding-top: 15px;
}

.button:hover{
	opacity: .95;
	cursor: pointer;
}

#mockup{
	width: 40%;
	float: right;
}


h2{
	font-size: 48px;
	opacity: .8;
	left: 263px;
}

p{
	opacity: .6;
	font-size: 20px;
	line-height: 32px;
	width: 452px;
}
#top-p{
	margin-top: 20px;
}

#email{
	height: 75px;
	width: 70%;
	background-color: #F6F7F9;
	border-radius: 8px;
	border: none;
	opacity: .6;
  	font-size: 20px;
  	padding-left: 50px;
  	margin-top: 10px;
  	margin-bottom: 100px;
  	margin-right: 5%;
}

#submit{
	width: 22%;
	height: 75px;
	border-radius: 8px;
	border: none;
	background-color: #78AEED;
	text-transform: uppercase;
	color: white;
	font-size: 20px;
	margin-top: 60px;
}

#main-content{
	z-index: 10;
	position: absolute;
	top: calc(50vh - 137px);
	left: calc(50vw - 450px);
	display: inline;
	width: 90%;
	max-width: 900px;
}

#main-content #text{
	float: left;
	width: 50%;
}
#main-content #text p{
	float: left;
	width: 100%;
	position: relative;
}
footer{
	background-color: #F6F7F9;
	height: 250px;
}

footer .footer-third{
	width: 25%;
	float: left;
	margin-top: 60px;
}

footer .footer-third h4{
	text-transform: uppercase;
	font-size: 18px;
}

footer .footer-third h4, footer .footer-third h5{
	opacity: .6;
	margin-top: 10px;
	font-size: 16px;
}

footer a{
	text-decoration: none;
}

footer a:hover{
	text-decoration: underline;
}

#half-mock{
	display: none;
}

@media (max-width: 950px){

#main-content{
	left: 5%;	
	}
#main-content h2{
	font-size: 2em;
}
#main-content p{
	font-size: 16px;
}
#half-mock{
	display: block;
	max-width: 400px;
	width: 80%;
	margin: auto;
	margin-bottom: 30px;
	margin-top: -50px;
}
#mockup{
	display: none;	
	}
#main-content {
	width: 100%;
}
#main-content #text{
	width: 90%;
}
#main-content h2, #main-content p{
	text-align: center;
}
}

@media (max-width: 745px){
	h1{
		position: relative;
		margin: auto;
		padding-top: 100px;
		text-align: center;
		left: 0;
	}
	#half-mock{
	margin-top: -10px;
	}
#top-rectangles{
	max-width: 500px;
	width: 100%;
	height: auto;
}
}


form{
	position: relative;
	margin: 200px auto;
	width: 90%;
	max-width: 600px;

}

@media (max-width: 745px){
	form{
		text-align: center;
	}
	form #email{
		width: 90%;
		margin-bottom: 20px;
	}
	form #submit{
		width: 90%;
		margin-top: 0px;
		margin-left: -20px;
	}
	form h2{
		font-size: 2em;
		margin-bottom: 20px;
	}
	}