<!doctype html>
<html lang="en">
<head>
    <title>Square Meals</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    <!-- My CSS -->
    <link rel="stylesheet" href="/css/main.css">
    
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <!-- Charts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>
    
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    
    <meta property="og:url"                content=""/>
    <meta property="og:type"               content="product" />
    <meta property="og:title"              content="Square Meals" />
    <meta property="og:description"        content="Health Goals Made Simple Through Nutritition" />
    <meta property="og:image"              content="http://i.imgur.com/4WF0nb5.png" />
    <meta name="description" content="Health Goals Made Simple Through Nutritition" />

    <!-- Global Site Tag (gtag.js) - Google Analytics -->

    {{{_sections.head}}}

</head>


<body>


{{{body}}}

<footer class="site-footer">
    <div class="flexible-container footer">
        <nav class="row" role="navigation">
            <div class="col-sm-2 col-sm-offset-4 center">
                <ul class="list-unstyled">
                    <h5 class="footer-title">Social</h5>
                    <li><a target="_blank" class="footer-link" href="#">Instagram</a></li>
                    <li><a target="_blank" class="footer-link" href="#">Facebook</a></li>
                </ul>
            </div>
            <div class="col-sm-2 center">
                <ul class="list-unstyled">
                    <h5 class="footer-title">Legal</h5>
                    <li><a target="_blank" class="footer-link" href="#">Terms of Use</a></li>
                    <li><a target="_blank" class="footer-link" href="#">Privacy Policy</a></li>
                    <!-- <li><a href="#">Open Source Libraries</a></li> -->
                </ul>
            </div>
            <div class="col-sm-2 center">
                <ul class="list-unstyled">
                    <h5 class="footer-title">Contact</h5>
                    <li><a target="_blank" class="footer-link" href="#">Support</a></li>
                    <li><a target="_blank" class="footer-link" href="#">FAQ</a></li>
                </ul>
            </div>
        </nav>

        <div class="row text-center footer-paragraph">
            <br/>
            <br/>
            <br/>
            <p>Made with ❤ in Hoboken, New Jersey, USA<br/></p>
        </div>
    </div>
</footer>


{{{_sections.jquery}}}


</body>

</html>